body {
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    margin: 50px;
    text-align: center;
    background-color: ;
    color: ;
}

.header {
    margin: 0 auto 100px auto;
}

.scoreboard-container {
    display: flex;
    justify-content: center;
    margin: 0 auto 100px;
}

.score-box {
    width: 125px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 200px 100px;
}

.button {
    background-color: white;
    border-radius: 10px;
    border-color: aliceblue;
    border-width: 3px;
    font-size: 80px;
    width: 150px;
    height: 150px;
}



.sign {
    font-size: 50px;
    height: 75px;
}

.modal {
    position: fixed;
    z-index: 1;

    left: 50%;
    top: 40%;
    width: 200px;
    padding: 30px;
    background-color: greenyellow;
    font-size: 20px;
    transform: scale(0);
    transition: 200ms ease-in-out;

    
}

.modal.active {
    transform: scale(1);
    margin: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
    display: none;
}

.overlay.active {
    display: flex;
}