body {
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    background-color: ;
    color: ;
}

.header {
    margin: 50px auto 100px auto;
}

.scoreboard-container {
    display: flex;
    justify-content: center;
    margin: 0 auto 100px;
}

.score-box {
    width: 125px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 200px 100px;
}

.button {
    background-color: white;
    border-radius: 10px;
    border-color: aliceblue;
    border-width: 3px;
    font-size: 80px;
    width: 150px;
    height: 150px;
}

.button:hover {
    transform: scale(1.05);
}

.sign {
    font-size: 50px;
    height: 75px;
}

.modal {
    z-index: 1;
    width: 250px;
    height: 130px;
    left: 50%;
    top: 50%;
    position: fixed;
    background-color:lavender;
    font-size: 20px;
    transform: scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
    margin: 0;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .8;
    display: none;
}

.overlay.active {
    display: flex;
}

#restart-button {
    font-size: small;
    font-family: inherit;
    width: 120px;
    height: 25px;
}

footer {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: auto auto 10px;
}

.fa_custom {
    color: black;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}